    </div>
    <script src="/scripts/globals.js"></script>
    <script src="/scripts/signup.js"></script>
    <script src="/scripts/search.js"></script>
    <script src="/scripts/index.js"></script>
    <script src="/scripts/account.js"></script>
  </body>
</html>
