@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
    font-family: 'Poppins', sans-serif;
    /*background: #ffffff;*/
    background: url("https://images.unsplash.com/photo-1504730668753-bea25cfb2d0e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a85c9305366a4790702062e193061b7a&auto=format&fit=crop&w=1267&q=80") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    padding-top: 4em;
}

*, *:before, *:after {
  box-sizing: border-box;
}

/* ---------------------- */
/*       TEXT STYLE       */
/* ---------------------- */

#content h1 {
  font-size: 50px;
  margin-top: 13%;
  color: #f0f0f0;
  text-align: center;
}

#content h4 {
  padding-top: 10px;
  color: #e1e1e1;
  text-align: center;
}

.error-message p {
  color: red;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a, a:hover, a:focus {
  color: inherit;

  transition: all 0.3s;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

/* ------------------- */
/*        User         */
/* ------------------- */

#user {
  display: none;
  height: 30pt;
  margin-right: 1em;
  cursor: pointer;
}

#user-name {
  height: 30pt;
  color: black;
}

#user-image {
  margin-right: 1em;
  height: 30pt;
  width: 30pt;
  object-fit: fill;
  border: 1px solid lightgray;
  border-radius: 15pt;
}

/* ---------------------- */
/*        NAVBAR          */
/* ---------------------- */

.navbar {
  z-index: 1000;
  background-color: #000000;
  background-image: none;
  opacity: 0.8;
}
.navbar-brand {
  background-color: white;
  color: #000000;
  border-color: #000000;
}

.navbar-brand:hover {
  background-color: #000000;
  color: white;
  transition: 0.5s ease-in-out;
}

.navbar-nav {
  float: right;
}

/* ---------------------- */
/*     CARDS SSCREEN      */
/* ---------------------- */

.container-front {
  margin-top: 13%;
  background-color: white;
}

.search-bar {
  padding-top: 60px;
  width: 42%;
  margin: 0 auto;
}

.card-container {
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 10%;
  padding-top: 3%;

  /* Grid System */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 1em;
}

.plus-card {
  height: 185pt;
  width: 185pt;
  border-radius: 4px;
  border: 2px dashed lightgray;
  color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.plus-card > svg {
  fill: currentColor;
}

.modal-card {
  margin: 10px;
}



/* ---------------------- */
/*     ACCOUNT SCREEN     */
/* ---------------------- */

.account {
  width: 100%;
}

.profile-image {
  border-radius: 50%;
  height: 200px;
  width: 200px;
  margin: 40px;
  margin-left: 40%;
}

.profile-image-username {
}

.wrapper-account {
  margin-top: 50px ;
  background-color: white;
  padding: 10%;
  padding-top: 5%;
}

.wrapper-booklist {
  margin-top: 50px ;
  background-color: white;
  padding: 1%;
  padding-top: 5%;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.wrapper-account button {
  padding: 5px;
  width: 80px;
  margin-bottom: 30px;
}

.account h1 {
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: white;
}

h1 + p {
  text-align: center;
  margin:20px 0;
  font-size:16px;
}

.heading-booklist {
  text-align: center;
}

/* ---------------------- */
/*        BUTTONS         */
/* ---------------------- */

#login-button-homescreen {

}

.search-btn {
  background-color: white;
  color: #000000;
}

.search-btn button:hover {
  background-color: black;
  color: #ffffff;
}


.uploadProfilePic-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.uploadProfilePic-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
